<h1 class="text-center">Heroes</h1>
<hr>

<div class="row animate fadeIn fast">
    <div class="col-md-12 text-right">
        <button [routerLink]="[ '/heroe' , 1]" mat-raised-button color="primary">
            Nuevo heroe <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</div>
<br>

<div class="row animate fadeIn fast">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Casa</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>