<div class="col mt-5 col-md-12 animationMove">

    <div class="card" style="max-width:100%;">
        <div class="row">
            <div class="col-md-6" style="max-width:50%;">
                <div class="card-body m-3 mt-5">
                    <h5 class="card-title font-weight-bold text-center mt-5"> {{ heroe.nombre | uppercase}} </h5>
                    <p class="card-text alert alert-secondary mt-4"> {{ heroe.bio }} </p>
                    <p class="card-text text-center"><small class="text-muted"> ( {{ heroe.aparicion |date: 'y' }} )</small></p>
                    <a [routerLink]="[ '/heroes' ]" class="btn btn-outline-danger btn-block mt-4">Regresar</a>

                </div>
            </div>
            <div class="col-md-6 justify-content-center text-center">
                <img [src]="heroe.img" class="card-img w-75" [alt]="heroe.nombre">
                <img *ngIf="heroe.casa == 'Marvel'" class="w-50" src="assets/img/marvel.jpg" [alt]="heroe.nombre">
                <img *ngIf="heroe.casa == 'DC'" class="w-50" src="assets/img/dc.jpg" [alt]="heroe.nombre">
            </div>


        </div>
        <hr>

    </div>
</div>