<!-- Animacion del incio -->
<div class="animated fadeIn fast">
    <h1 class="alert alert-success text-center">Héroes <small>Marvel y DC</small></h1>
    <hr>
    <div class="card-columns">
        <div class="card">
            <img src="assets/img/aquaman.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aquaman</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/batman.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Batman</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/daredevil.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dare Devil</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/hulk.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hulk</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/spiderman.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Spiderman</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/wolverine.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wolverine</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/linterna-verde.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Linterna Verde</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            </div>


        </div>

    </div>

</div>